*{
    text-decoration: none;
}

.navbar{
    background-color: palevioletred; font-family: Arial, Helvetica, sans-serif; padding-left: 15px;
}

.navdiv{
    display: grid; align-items: center; justify-content: space-between;
}

li{
    list-style: none; display: inline-block;
}

li a{
    color: white; font-size: 14px; font-weight: bold; margin-right: 25px;
}

button{
    background-color: black; margin-left: 10px; border-radius: 5px; padding: 10px; width: 90px;
}

button a{
    color: white; font-weight: bold; font-size: 14px;
}